# AL-AHLY x FIFA Club World Cup 2025

## Read Files

In [1]:
import pandas as pd

In [2]:
teams = pd.read_csv('TEAMS.csv')
attack = pd.read_csv('ATTACKING.csv')
mid = pd.read_csv('MIDFIELD.csv')
defence = pd.read_csv('DEFENCE.csv')
gk = pd.read_csv('GK.csv')

## Drop players who didn't play

In [3]:
#deleting null values
attack.dropna(axis=0, inplace=True)
mid.dropna(axis=0, inplace=True)
defence.dropna(axis=0, inplace=True)
gk.dropna(axis=0, inplace=True)

In [4]:
#checking for null values
print([attack.isnull().values.any(),
mid.isnull().values.any(),
defence.isnull().values.any(),
gk.isnull().values.any()])

[np.False_, np.False_, np.False_, np.False_]

### In order to avoid outlires affecting the data, only players with a minimum of 100 mins. played will be considered

In [5]:
attack = attack.drop(attack[attack['minutes_played_overall'] <= 100].index)
mid = mid.drop(mid[mid['minutes_played_overall'] <= 100].index)
defence = defence.drop(defence[defence['minutes_played_overall'] <= 100].index)
gk = gk.drop(gk[gk['minutes_played_overall'] <= 100].index)

## First : Teams Statistics

## Create dataframes for the compared data

### All other teams in the league

In [6]:
league = teams.drop(teams[teams['team_name'] == 'Al Ahly'].index)
league

,team_name,country,continent,performance_rank,matches_played,wins,goals_scored,goals_conceded,goal_difference,shots_on_target,fouls,clean_sheets,minutes_per_goal_scored,minutes_per_goal_conceded,average_possession
0,Seattle Sounders,USA,America,32,3,0,2,7,-5,10,21,0,134,39,44
1,Borussia Dortmund,Germany,Europe,5,5,3,9,7,2,33,53,2,50,64,50
2,PSG,France,Europe,2,7,5,16,4,12,50,69,5,39,158,67
3,Porto,Portugal,Europe,25,3,0,5,6,-1,16,37,1,54,45,50
4,Real Madrid,Spain,Europe,3,6,4,11,8,3,41,51,2,49,68,50
5,Juventus,Italy,Europe,13,4,2,11,7,4,18,45,1,33,51,48
6,Manchester City,England,Europe,7,4,3,16,6,10,46,48,2,23,60,72
7,Salzburg,Austria,Europe,20,3,1,2,4,-2,17,22,1,134,68,46
8,Atletico Madrid,Spain,Europe,14,3,2,4,5,-1,17,32,1,68,54,48
9,Chelsea,England,Europe,1,7,6,17,5,12,52,100,4,37,127,57
10,Inter Milan,Italy,Europe,11,4,2,5,4,1,17,51,1,72,90,67
11,Flamengo,Brazil,America,12,4,2,8,6,2,24,64,1,45,60,60
12,Botafogo,Brazil,America,15,4,2,3,3,0,20,69,1,120,120,39
13,Fluminense,Brazil,America,4,6,3,8,5,3,28,68,3,68,108,45
14,Palmeiras,Brazil,America,8,5,2,6,4,2,25,70,3,75,113,44
15,River Plate,Argentina,America,18,3,1,3,3,0,16,32,1,90,90,48
16,Urawa Reds,Japan,Asia,28,3,0,2,9,-7,14,37,0,134,30,34
18,Mamelodi Sundowns,South Africa,Africa,19,3,1,4,4,0,12,24,2,68,68,65
19,Pachuca,Mexico,America,29,3,0,2,7,-5,22,30,0,134,39,48
20,Monterrey,Mexico,America,16,4,1,6,3,3,19,20,2,60,120,53
21,Wydad Casablanca,Morocco,Africa,30,3,0,2,8,-6,13,49,0,134,34,40
22,Ulsan,South Korea,Asia,31,3,0,2,6,-4,12,32,0,134,45,34
23,ES Tunis,Tunisia,Africa,21,3,1,1,5,-4,9,45,1,273,54,32
24,Al Ain,UAE,Asia,22,3,1,2,12,-10,14,30,0,134,23,38
25,Al Hilal,Saudi Arabia,Asia,9,5,2,8,6,2,23,44,2,56,75,48
26,Inter Miami,USA,America,17,4,1,4,7,-3,20,40,1,90,51,48
27,Bayern Munchen,Germany,Europe,6,5,3,16,6,10,39,65,1,28,75,64
28,Benfica,Portugal,Europe,10,4,2,10,6,4,32,40,2,36,60,47
29,Boca Juniors,Argentina,America,23,3,0,4,5,-1,18,43,0,68,54,47
30,Auckland City,New Zealand,Asia,26,3,0,1,17,-16,8,12,0,273,16,30
31,Los Angeles FC,USA,America,27,3,0,1,4,-3,10,27,0,273,68,43

### Teams from Africa in the league

In [7]:
africa = league[league['continent'] == 'Africa']
africa

,team_name,country,continent,performance_rank,matches_played,wins,goals_scored,goals_conceded,goal_difference,shots_on_target,fouls,clean_sheets,minutes_per_goal_scored,minutes_per_goal_conceded,average_possession
18,Mamelodi Sundowns,South Africa,Africa,19,3,1,4,4,0,12,24,2,68,68,65
21,Wydad Casablanca,Morocco,Africa,30,3,0,2,8,-6,13,49,0,134,34,40
23,ES Tunis,Tunisia,Africa,21,3,1,1,5,-4,9,45,1,273,54,32

### Champion of the league

In [8]:
champ = league[league['team_name'] == 'Chelsea']
champ

,team_name,country,continent,performance_rank,matches_played,wins,goals_scored,goals_conceded,goal_difference,shots_on_target,fouls,clean_sheets,minutes_per_goal_scored,minutes_per_goal_conceded,average_possession
9,Chelsea,England,Europe,1,7,6,17,5,12,52,100,4,37,127,57

## Calculate the average stats in dataframes

### Average stats for all other teams in the league

In [9]:
#the performance rank is irrelevant info so it will be dropped
df = league.drop(columns=['performance_rank'])
numeric_columns = df.select_dtypes(include=['number'])
league_stats = numeric_columns.mean().reset_index()
league_stats.columns = ['Stats', 'Value']
league_stats = league_stats.reset_index()
league_stats.drop('index', axis=1, inplace=True)
league_stats

                        Stats      Value
0              matches_played   3.967742
1                        wins   1.612903
2                goals_scored   6.161290
3              goals_conceded   6.096774
4             goal_difference   0.064516
5             shots_on_target  22.419355
6                       fouls  44.193548
7                clean_sheets   1.290323
8     minutes_per_goal_scored  96.322581
9   minutes_per_goal_conceded  68.612903
10         average_possession  48.580645

### Average stats for african teams in the league

In [10]:
#the performance rank is irrelevant info
df = africa.drop(columns=['performance_rank'])
numeric_columns = df.select_dtypes(include=['number'])
africa_stats = numeric_columns.mean().reset_index()
africa_stats.columns = ['Stats', 'Value']
africa_stats = africa_stats.reset_index()
africa_stats.drop('index', axis=1, inplace=True)
africa_stats

                        Stats       Value
0              matches_played    3.000000
1                        wins    0.666667
2                goals_scored    2.333333
3              goals_conceded    5.666667
4             goal_difference   -3.333333
5             shots_on_target   11.333333
6                       fouls   39.333333
7                clean_sheets    1.000000
8     minutes_per_goal_scored  158.333333
9   minutes_per_goal_conceded   52.000000
10         average_possession   45.666667

### Combine in a single dataframe

In [11]:
df = league_stats.copy()
df = df.rename(columns={'Value': 'league_avg'})
df['africa_avg'] = africa_stats['Value']
df

                        Stats  league_avg  africa_avg
0              matches_played    3.967742    3.000000
1                        wins    1.612903    0.666667
2                goals_scored    6.161290    2.333333
3              goals_conceded    6.096774    5.666667
4             goal_difference    0.064516   -3.333333
5             shots_on_target   22.419355   11.333333
6                       fouls   44.193548   39.333333
7                clean_sheets    1.290323    1.000000
8     minutes_per_goal_scored   96.322581  158.333333
9   minutes_per_goal_conceded   68.612903   52.000000
10         average_possession   48.580645   45.666667

In [12]:
#minutes_per_goal_scored/conceded will be unmeaningful if divided, so these metrices are getting dropped and will be added later
comp_teams = df.drop(df[(df['Stats'] == 'minutes_per_goal_scored') | (df['Stats'] == 'minutes_per_goal_conceded')].index)
comp_teams = comp_teams.reset_index()
comp_teams.drop('index', axis=1, inplace=True)
comp_teams

                Stats  league_avg  africa_avg
0      matches_played    3.967742    3.000000
1                wins    1.612903    0.666667
2        goals_scored    6.161290    2.333333
3      goals_conceded    6.096774    5.666667
4     goal_difference    0.064516   -3.333333
5     shots_on_target   22.419355   11.333333
6               fouls   44.193548   39.333333
7        clean_sheets    1.290323    1.000000
8  average_possession   48.580645   45.666667

### Create temporary dataframe to hold the champion row then combine

In [13]:
temp_df = pd.DataFrame(champ.drop(['team_name','country','continent','performance_rank', 'minutes_per_goal_scored', 'minutes_per_goal_conceded'], axis=1).T).reset_index()
temp_df.columns = ['Stats', 'Value']
temp_df

                Stats  Value
0      matches_played      7
1                wins      6
2        goals_scored     17
3      goals_conceded      5
4     goal_difference     12
5     shots_on_target     52
6               fouls    100
7        clean_sheets      4
8  average_possession     57

In [14]:
comp_teams['champ_avg'] = temp_df['Value']
comp_teams

                Stats  league_avg  africa_avg  champ_avg
0      matches_played    3.967742    3.000000          7
1                wins    1.612903    0.666667          6
2        goals_scored    6.161290    2.333333         17
3      goals_conceded    6.096774    5.666667          5
4     goal_difference    0.064516   -3.333333         12
5     shots_on_target   22.419355   11.333333         52
6               fouls   44.193548   39.333333        100
7        clean_sheets    1.290323    1.000000          4
8  average_possession   48.580645   45.666667         57

### Create temporary dataframe to hold the ahly row then combine

In [15]:
temp_df = pd.DataFrame(teams[teams['team_name'] == 'Al Ahly'].drop(['team_name','country','continent','performance_rank', 'minutes_per_goal_scored', 'minutes_per_goal_conceded'], axis=1).T).reset_index()
temp_df.columns = ['Stats', 'Value']
temp_df

                Stats  Value
0      matches_played      3
1                wins      0
2        goals_scored      4
3      goals_conceded      6
4     goal_difference     -2
5     shots_on_target     24
6               fouls     36
7        clean_sheets      1
8  average_possession     51

In [16]:
comp_teams['ahly_avg'] = temp_df['Value']
comp_teams

                Stats  league_avg  africa_avg  champ_avg  ahly_avg
0      matches_played    3.967742    3.000000          7         3
1                wins    1.612903    0.666667          6         0
2        goals_scored    6.161290    2.333333         17         4
3      goals_conceded    6.096774    5.666667          5         6
4     goal_difference    0.064516   -3.333333         12        -2
5     shots_on_target   22.419355   11.333333         52        24
6               fouls   44.193548   39.333333        100        36
7        clean_sheets    1.290323    1.000000          4         1
8  average_possession   48.580645   45.666667         57        51

### Divide by matches played

In [17]:
#dividing by number of matches (first row)
comp_teams.iloc[1:8, 1:] = (comp_teams.iloc[1:8, 1:]) / (comp_teams.iloc[:8, 1:]).iloc[0]
#calculating percentages for wins and clean sheets
comp_teams.iloc[1:2, 1:] = comp_teams.iloc[1:2, 1:]*100
comp_teams.iloc[7:8, 1:] = comp_teams.iloc[7:8, 1:]*100
comp_teams

/var/folders/33/b2l2m5sx2z3gclpd32w7m58r0000gn/T/ipykernel_72578/872161015.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 0.85714286  2.42857143  0.71428571  1.71428571  7.42857143 14.28571429
  0.57142857]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  comp_teams.iloc[1:8, 1:] = (comp_teams.iloc[1:8, 1:]) / (comp_teams.iloc[:8, 1:]).iloc[0]
/var/folders/33/b2l2m5sx2z3gclpd32w7m58r0000gn/T/ipykernel_72578/872161015.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 0.          1.33333333  2.         -0.66666667  8.         12.
  0.33333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  comp_teams.iloc[1:8, 1:] = (comp_teams.iloc[1:8, 1:]) / (comp_teams.iloc[:8, 1:]).iloc[0]

                Stats  league_avg  africa_avg  champ_avg   ahly_avg
0      matches_played    3.967742    3.000000   7.000000   3.000000
1                wins   40.650407   22.222222  85.714286   0.000000
2        goals_scored    1.552846    0.777778   2.428571   1.333333
3      goals_conceded    1.536585    1.888889   0.714286   2.000000
4     goal_difference    0.016260   -1.111111   1.714286  -0.666667
5     shots_on_target    5.650407    3.777778   7.428571   8.000000
6               fouls   11.138211   13.111111  14.285714  12.000000
7        clean_sheets   32.520325   33.333333  57.142857  33.333333
8  average_possession   48.580645   45.666667  57.000000  51.000000

### Add deleted metrices

In [18]:
comp_teams.loc[len(comp_teams)] = {'Stats': 'minutes_per_goal_scored', 'league_avg': df.iloc[8][1], 'africa_avg': df.iloc[8][2], 'champ_avg': teams.loc[teams['team_name'] == 'Chelsea', 'minutes_per_goal_scored'].iloc[0], 'ahly_avg': teams.loc[teams['team_name'] == 'Al Ahly', 'minutes_per_goal_scored'].iloc[0]}
comp_teams.loc[len(comp_teams)] = {'Stats': 'minutes_per_goal_conceded', 'league_avg': df.iloc[8][1], 'africa_avg': df.iloc[9][2], 'champ_avg': teams.loc[teams['team_name'] == 'Chelsea', 'minutes_per_goal_conceded'].iloc[0], 'ahly_avg': teams.loc[teams['team_name'] == 'Al Ahly', 'minutes_per_goal_conceded'].iloc[0]}
comp_teams

/var/folders/33/b2l2m5sx2z3gclpd32w7m58r0000gn/T/ipykernel_72578/3098410527.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  comp_teams.loc[len(comp_teams)] = {'Stats': 'minutes_per_goal_scored', 'league_avg': df.iloc[8][1], 'africa_avg': df.iloc[8][2], 'champ_avg': teams.loc[teams['team_name'] == 'Chelsea', 'minutes_per_goal_scored'].iloc[0], 'ahly_avg': teams.loc[teams['team_name'] == 'Al Ahly', 'minutes_per_goal_scored'].iloc[0]}
/var/folders/33/b2l2m5sx2z3gclpd32w7m58r0000gn/T/ipykernel_72578/3098410527.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  comp_teams.loc[len(comp_teams)] = {'Stats': 'minutes_per_goal_conceded', 'league_avg': df.iloc[8][1], 'africa_avg': df.iloc[9][2], 'champ_avg': teams.loc[teams['team_name'] == 'Chelsea', 'minutes_per_goal_conceded'].iloc[0], 'ahly_avg': teams.loc[teams['team_name'] == 'Al Ahly', 'minutes_per_goal_conceded'].iloc[0]}

                        Stats  league_avg  africa_avg   champ_avg   ahly_avg
0              matches_played    3.967742    3.000000    7.000000   3.000000
1                        wins   40.650407   22.222222   85.714286   0.000000
2                goals_scored    1.552846    0.777778    2.428571   1.333333
3              goals_conceded    1.536585    1.888889    0.714286   2.000000
4             goal_difference    0.016260   -1.111111    1.714286  -0.666667
5             shots_on_target    5.650407    3.777778    7.428571   8.000000
6                       fouls   11.138211   13.111111   14.285714  12.000000
7                clean_sheets   32.520325   33.333333   57.142857  33.333333
8          average_possession   48.580645   45.666667   57.000000  51.000000
9     minutes_per_goal_scored   96.322581  158.333333   37.000000  68.000000
10  minutes_per_goal_conceded   96.322581   52.000000  127.000000  45.000000

## Export for BI Analysis

In [19]:
comp_teams.set_index('Stats').transpose().to_csv('Ahly_Stats_T.csv')

## Second : Forward Players Statistics

## Create dataframes for the compared data

### All other teams in the league

In [20]:
league_atk = attack.drop(attack[attack['current_club'] == 'Al Ahly'].index)
print([attack.shape, league_atk.shape])

[(92, 21), (91, 21)]

### Players from Africa

In [21]:
africa_atk = league_atk[league_atk['continent'] == 'Africa']
africa_atk

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,assists_overall,...,goals_per_90_overall,assists_per_90_overall,dribbles_successful_per_game_overall,shots_total_overall,shot_accuraccy_percentage_overall,shots_per_goal_scored_overall,duels_won_percentage_overall,fouls_committed_per_90_overall,offsides_per_90_overall,cards_per_90_overall
55,Iqraam Rayners,29,no,Mamelodi Sundowns,Africa,244,3,6.92,2,0,...,0.74,0.0,0.33,3.0,66.67,1.5,38.46,0.74,1.84,0.00
119,Omar Jihad Al Somah,35,no,Wydad Casablanca,Africa,106,2,6.88,0,0,...,0.00,0.0,0.00,1.0,0.00,0.0,60.00,1.70,0.00,0.00
136,Rodrigo Rodrigues Silva,29,no,ES Tunis,Africa,171,3,6.67,0,0,...,0.00,0.0,0.33,1.0,0.00,0.0,41.18,1.05,0.53,0.00
144,Samuel Obeng Gyabaa,28,no,Wydad Casablanca,Africa,102,3,6.66,0,0,...,0.00,0.0,0.00,1.0,100.00,0.0,52.94,0.88,0.00,0.00
155,Thembinkosi Lorch,31,no,Wydad Casablanca,Africa,264,3,7.53,1,0,...,0.34,0.0,1.67,8.0,50.00,8.0,47.06,1.02,1.70,0.00
168,Yan Medeiros Sasse,28,no,ES Tunis,Africa,157,3,6.87,0,0,...,0.00,0.0,1.33,4.0,25.00,0.0,50.00,3.44,0.57,0.57
172,Youcef Bela√Øli,33,no,ES Tunis,Africa,180,2,7.43,1,0,...,0.50,0.0,3.50,5.0,60.00,5.0,52.50,2.00,1.00,1.00

### Champion Players (Chelsea)

In [22]:
champ_atk = league_atk[league_atk['current_club'] == 'Chelsea']
champ_atk

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,assists_overall,...,goals_per_90_overall,assists_per_90_overall,dribbles_successful_per_game_overall,shots_total_overall,shot_accuraccy_percentage_overall,shots_per_goal_scored_overall,duels_won_percentage_overall,fouls_committed_per_90_overall,offsides_per_90_overall,cards_per_90_overall
64,Jo√£o Pedro,23,no,Chelsea,Europe,163,3,7.80,3,0,...,1.66,0.00,1.0,5.0,60.00,2.5,40.00,1.88,0.94,0.00
115,Nicolas Jackson,24,no,Chelsea,Europe,120,3,6.06,0,1,...,0.00,0.75,1.0,2.0,50.00,0.0,46.15,1.50,0.00,1.50
116,Noni Madueke,23,no,Chelsea,Europe,198,5,7.06,0,0,...,0.00,0.00,1.8,5.0,40.00,0.0,57.58,0.00,0.00,0.00
126,Pedro Neto,25,no,Chelsea,Europe,503,6,7.77,3,0,...,0.54,0.00,3.6,6.0,66.67,2.0,55.10,0.40,0.00,0.36

### Create a DataFrame for the Top Ranking Players according to [FIFA](https://www.fifa.com/en/tournaments/mens/club-world-cup/usa-2025/statistics/player-statistics?group=gcp_goalkeeping&stat=clean_sheets)

In [23]:
toprank_atk = league_atk[league_atk['top_rank'] == 'yes']
toprank_atk

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,assists_overall,...,goals_per_90_overall,assists_per_90_overall,dribbles_successful_per_game_overall,shots_total_overall,shot_accuraccy_percentage_overall,shots_per_goal_scored_overall,duels_won_percentage_overall,fouls_committed_per_90_overall,offsides_per_90_overall,cards_per_90_overall
8,Angel Di Maria,37,yes,Benfica,Europe,344,4,7.97,4,0,...,1.05,0.0,1.5,12.0,75.00,3.00,48.39,0.72,0.96,0.00
47,Gonzalo Garcia Torres,21,yes,Real Madrid,Europe,451,6,7.12,4,1,...,0.80,0.2,0.5,9.0,77.78,2.25,45.83,0.60,0.00,0.00
93,Marcos Leonardo Santos Almeida,22,yes,Al Hilal,Asia,469,5,7.21,4,0,...,0.77,0.0,0.4,12.0,41.67,3.00,43.90,0.77,0.58,0.19
148,Sehrou Guirassy,29,yes,Borussia Dortmund,Europe,438,5,7.16,4,0,...,0.82,0.0,0.6,15.0,73.33,3.75,47.62,1.23,0.62,0.21

In [24]:
#Print Ahly Players to see which to analyze his performance
attack[attack['current_club'] == 'Al Ahly']

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,assists_overall,...,goals_per_90_overall,assists_per_90_overall,dribbles_successful_per_game_overall,shots_total_overall,shot_accuraccy_percentage_overall,shots_per_goal_scored_overall,duels_won_percentage_overall,fouls_committed_per_90_overall,offsides_per_90_overall,cards_per_90_overall
164,Wessam Abou Ali,26,no,Al Ahly,Africa,200,3,7.67,4,0,...,1.8,0.0,0.0,6.0,66.67,2.0,15.38,0.0,1.8,0.0

### Analyze Wessam's performance

## Calculate the average stats in dataframes

### Average stats for all players of other teams in the league

In [25]:
numeric_columns = league_atk.select_dtypes(include=['number'])
league_atk_stats = numeric_columns.mean().reset_index()
league_atk_stats.columns = ['Stats', 'Value']
league_atk_stats = league_atk_stats.reset_index()
league_atk_stats.drop('index', axis=1, inplace=True)
league_atk_stats

                                   Stats       Value
0                                    age   27.252747
1                 minutes_played_overall  226.208791
2                    appearances_overall    3.604396
3                 average_rating_overall    6.974066
4                          goals_overall    0.901099
5                        assists_overall    0.318681
6          goals_involved_per_90_overall    0.468022
7                   goals_per_90_overall    0.340330
8                 assists_per_90_overall    0.127582
9   dribbles_successful_per_game_overall    0.916484
10                   shots_total_overall    4.824176
11     shot_accuraccy_percentage_overall   49.036044
12         shots_per_goal_scored_overall    2.005495
13          duels_won_percentage_overall   46.245385
14        fouls_committed_per_90_overall    1.158242
15               offsides_per_90_overall    0.454176
16                  cards_per_90_overall    0.134835

### Average stats for players of african teams in the league

In [26]:
numeric_columns = africa_atk.select_dtypes(include=['number'])
africa_atk_stats = numeric_columns.mean().reset_index()
africa_atk_stats.columns = ['Stats', 'Value']
africa_atk_stats = africa_atk_stats.reset_index()
africa_atk_stats.drop('index', axis=1, inplace=True)
africa_atk_stats

                                   Stats       Value
0                                    age   30.428571
1                 minutes_played_overall  174.857143
2                    appearances_overall    2.714286
3                 average_rating_overall    6.994286
4                          goals_overall    0.571429
5                        assists_overall    0.000000
6          goals_involved_per_90_overall    0.225714
7                   goals_per_90_overall    0.225714
8                 assists_per_90_overall    0.000000
9   dribbles_successful_per_game_overall    1.022857
10                   shots_total_overall    3.285714
11     shot_accuraccy_percentage_overall   43.095714
12         shots_per_goal_scored_overall    2.071429
13          duels_won_percentage_overall   48.877143
14        fouls_committed_per_90_overall    1.547143
15               offsides_per_90_overall    0.805714
16                  cards_per_90_overall    0.224286

### Average stats for players of the champion team in the league

In [27]:
numeric_columns = champ_atk.select_dtypes(include=['number'])
champ_atk_stats = numeric_columns.mean().reset_index()
champ_atk_stats.columns = ['Stats', 'Value']
champ_atk_stats = champ_atk_stats.reset_index()
champ_atk_stats.drop('index', axis=1, inplace=True)
champ_atk_stats

                                   Stats     Value
0                                    age   23.7500
1                 minutes_played_overall  246.0000
2                    appearances_overall    4.2500
3                 average_rating_overall    7.1725
4                          goals_overall    1.5000
5                        assists_overall    0.2500
6          goals_involved_per_90_overall    0.7375
7                   goals_per_90_overall    0.5500
8                 assists_per_90_overall    0.1875
9   dribbles_successful_per_game_overall    1.8500
10                   shots_total_overall    4.5000
11     shot_accuraccy_percentage_overall   54.1675
12         shots_per_goal_scored_overall    1.1250
13          duels_won_percentage_overall   49.7075
14        fouls_committed_per_90_overall    0.9450
15               offsides_per_90_overall    0.2350
16                  cards_per_90_overall    0.4650

### Average stats for top rank players in the league

In [28]:
numeric_columns = toprank_atk.select_dtypes(include=['number'])
toprank_atk_stats = numeric_columns.mean().reset_index()
toprank_atk_stats.columns = ['Stats', 'Value']
toprank_atk_stats = toprank_atk_stats.reset_index()
toprank_atk_stats.drop('index', axis=1, inplace=True)
toprank_atk_stats

                                   Stats    Value
0                                    age   27.250
1                 minutes_played_overall  425.500
2                    appearances_overall    5.000
3                 average_rating_overall    7.365
4                          goals_overall    4.000
5                        assists_overall    0.250
6          goals_involved_per_90_overall    0.910
7                   goals_per_90_overall    0.860
8                 assists_per_90_overall    0.050
9   dribbles_successful_per_game_overall    0.750
10                   shots_total_overall   12.000
11     shot_accuraccy_percentage_overall   66.945
12         shots_per_goal_scored_overall    3.000
13          duels_won_percentage_overall   46.435
14        fouls_committed_per_90_overall    0.830
15               offsides_per_90_overall    0.540
16                  cards_per_90_overall    0.100

### Combine in a single dataframe

In [29]:
comp_atk = pd.DataFrame(attack[attack['full_name'] == 'Wessam Abou Ali'].drop(['current_club','continent', 'full_name', 'top_rank'], axis=1).T).reset_index()
comp_atk.columns = ['Stats', 'Wessam Abou Ali']
comp_atk['league_avg'] = league_atk_stats['Value']
comp_atk['africa_avg'] = africa_atk_stats['Value']
comp_atk['champ_avg'] = champ_atk_stats['Value']
comp_atk['topRank_avg']= toprank_atk_stats['Value']
comp_atk

,Stats,Wessam Abou Ali,league_avg,africa_avg,champ_avg,topRank_avg
0,age,26.00,27.252747,30.428571,23.7500,27.250
1,minutes_played_overall,200.00,226.208791,174.857143,246.0000,425.500
2,appearances_overall,3.00,3.604396,2.714286,4.2500,5.000
3,average_rating_overall,7.67,6.974066,6.994286,7.1725,7.365
4,goals_overall,4.00,0.901099,0.571429,1.5000,4.000
5,assists_overall,0.00,0.318681,0.000000,0.2500,0.250
6,goals_involved_per_90_overall,1.80,0.468022,0.225714,0.7375,0.910
7,goals_per_90_overall,1.80,0.340330,0.225714,0.5500,0.860
8,assists_per_90_overall,0.00,0.127582,0.000000,0.1875,0.050
9,dribbles_successful_per_game_overall,0.00,0.916484,1.022857,1.8500,0.750
10,shots_total_overall,6.00,4.824176,3.285714,4.5000,12.000
11,shot_accuraccy_percentage_overall,66.67,49.036044,43.095714,54.1675,66.945
12,shots_per_goal_scored_overall,2.00,2.005495,2.071429,1.1250,3.000
13,duels_won_percentage_overall,15.38,46.245385,48.877143,49.7075,46.435
14,fouls_committed_per_90_overall,0.00,1.158242,1.547143,0.9450,0.830
15,offsides_per_90_overall,1.80,0.454176,0.805714,0.2350,0.540
16,cards_per_90_overall,0.00,0.134835,0.224286,0.4650,0.100

## Export for BI Analysis

In [30]:
comp_atk.set_index('Stats').transpose().to_csv('Ahly_atk_Stats_T.csv')

## Third : MidField Players Statistics

## Create dataframes for the compared data

### All other teams in the league

In [31]:
league_mid = mid.drop(mid[mid['current_club'] == 'Al Ahly'].index)
print([mid.shape, league_mid.shape])

[(174, 23), (167, 23)]

### Players from Africa

In [32]:
africa_mid = league_mid[league_mid['continent'] == 'Africa']
africa_mid

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,assists_overall,...,passes_total_overall,passes_completed_total_overall,passes_completed_per_90_overall,key_passes_total_overall,dribbles_successful_per_90_overall,shot_accuraccy_percentage_overall,accurate_crosses_per_90_overall,duels_won_percentage_overall,fouls_committed_per_90_overall,cards_per_90_overall
2,Abdramane Konatu00e9,19,no,ES Tunis,Africa,203,3,6.75,0,0,...,59.0,48.0,21.28,4.0,0.00,0.00,0.00,46.15,0.44,0.00
50,Cassius Mailula,24,no,Wydad Casablanca,Africa,120,3,6.75,1,0,...,30.0,25.0,18.75,1.0,0.75,66.67,0.75,36.36,2.25,0.75
75,El Mehdi Moubarik,24,no,Wydad Casablanca,Africa,259,3,6.64,0,0,...,119.0,108.0,37.53,0.0,0.00,0.00,0.00,50.00,0.00,0.00
186,Lucas Ribeiro Costa,26,no,Mamelodi Sundowns,Africa,232,3,7.72,1,1,...,103.0,88.0,34.14,6.0,3.49,66.67,0.78,63.33,0.39,0.00
200,Marcelo Ivan Allende Bravo,26,no,Mamelodi Sundowns,Africa,270,3,6.91,0,0,...,207.0,195.0,65.00,5.0,0.33,0.00,0.00,44.44,1.00,0.33
232,Mohamed Ben Ali,30,no,ES Tunis,Africa,264,3,6.67,0,0,...,73.0,57.0,19.43,0.0,0.00,0.00,0.00,47.62,1.02,0.68
249,Nordin Amrabat,38,no,Wydad Casablanca,Africa,242,3,6.70,0,1,...,54.0,38.0,14.13,7.0,1.49,0.00,2.60,40.00,2.98,0.37
253,Onuche Ogbelu,22,no,ES Tunis,Africa,270,3,6.69,0,0,...,103.0,91.0,30.33,1.0,0.00,0.00,0.00,45.83,2.00,0.33
256,Oussama Zemraoui,23,no,Wydad Casablanca,Africa,219,3,6.68,0,0,...,79.0,69.0,28.36,2.0,1.23,0.00,0.00,63.16,1.23,0.00
303,Tashreeq Matthews,24,no,Mamelodi Sundowns,Africa,154,3,6.86,0,1,...,43.0,38.0,22.21,4.0,1.17,50.00,0.00,54.55,2.34,0.58
304,Teboho Mokoena,28,no,Mamelodi Sundowns,Africa,205,3,7.05,0,0,...,214.0,189.0,82.98,2.0,0.00,20.00,0.00,66.67,1.32,0.88
309,Themba Zwane,35,no,Mamelodi Sundowns,Africa,248,3,6.94,0,0,...,178.0,165.0,59.88,3.0,0.00,0.00,0.00,56.25,0.73,0.00
339,Yassine Meriah,32,no,ES Tunis,Africa,270,3,6.79,0,0,...,125.0,105.0,35.00,0.0,1.00,0.00,0.00,56.25,0.33,0.00

### Champion Players (Chelsea)

In [33]:
champ_mid = league_mid[league_mid['current_club'] == 'Chelsea']
champ_mid

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,assists_overall,...,passes_total_overall,passes_completed_total_overall,passes_completed_per_90_overall,key_passes_total_overall,dribbles_successful_per_90_overall,shot_accuraccy_percentage_overall,accurate_crosses_per_90_overall,duels_won_percentage_overall,fouls_committed_per_90_overall,cards_per_90_overall
35,Andrey Santos,21,no,Chelsea,Europe,145,4,7.01,0,1,...,60.0,55.0,42.67,1.0,0.78,0.00,0.00,71.43,2.33,0.00
53,Christopher Nkunku,27,no,Chelsea,Europe,257,6,7.04,1,0,...,146.0,134.0,43.85,5.0,1.31,40.00,0.00,50.00,0.65,0.00
56,Cole Palmer,23,no,Chelsea,Europe,526,6,7.56,3,2,...,186.0,163.0,31.48,10.0,1.35,55.56,0.39,44.19,0.77,0.17
80,Enzo Fern√°ndez,24,no,Chelsea,Europe,512,7,7.27,1,3,...,259.0,220.0,43.90,10.0,0.60,37.50,0.40,36.96,2.20,0.00
174,Kiernan Dewsbury-Hall,26,no,Chelsea,Europe,119,5,6.96,1,0,...,82.0,68.0,45.00,4.0,0.00,50.00,1.32,14.29,0.66,0.00
235,Mois√©s Caicedo,23,no,Chelsea,Europe,444,5,7.40,0,1,...,327.0,300.0,70.31,3.0,0.94,20.00,0.00,58.00,2.11,0.61
275,Rom√©o Lavia,21,no,Chelsea,Europe,217,4,6.86,0,0,...,166.0,157.0,65.12,3.0,1.24,0.00,0.00,50.00,0.41,0.00

### Create a DataFrame for the Top Ranking Midfield Players according to [FIFA](https://www.fifa.com/en/tournaments/mens/club-world-cup/usa-2025/statistics/player-statistics?group=gcp_goalkeeping&stat=clean_sheets)

In [34]:
toprank_mid = league_mid[league_mid['top_rank'] == 'yes']
toprank_mid

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,assists_overall,...,passes_total_overall,passes_completed_total_overall,passes_completed_per_90_overall,key_passes_total_overall,dribbles_successful_per_90_overall,shot_accuraccy_percentage_overall,accurate_crosses_per_90_overall,duels_won_percentage_overall,fouls_committed_per_90_overall,cards_per_90_overall
86,Fabian,29,yes,PSG,Europe,462,7,7.61,3,1,...,339.0,305.0,70.75,4.0,0.23,66.67,0.00,66.67,0.23,0.19
159,Joshua Kimmich,30,yes,Bayern Munchen,Europe,404,5,7.83,0,1,...,370.0,330.0,73.51,13.0,0.67,0.00,1.78,54.17,0.45,0.22
328,Vitinha,25,yes,PSG,Europe,630,7,7.83,1,2,...,655.0,619.0,103.17,7.0,0.83,20.00,0.67,40.74,0.33,0.00

In [35]:
#Print Ahly Players to see which to analyze his performance
mid[(mid['current_club'] == 'Al Ahly') & (mid['minutes_played_overall'] >= 180)]

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,assists_overall,...,passes_total_overall,passes_completed_total_overall,passes_completed_per_90_overall,key_passes_total_overall,dribbles_successful_per_90_overall,shot_accuraccy_percentage_overall,accurate_crosses_per_90_overall,duels_won_percentage_overall,fouls_committed_per_90_overall,cards_per_90_overall
17,Ahmed Nabil Koka,24,no,Al Ahly,Africa,180,2,6.69,0,0,...,89.0,86.0,43.00,0.0,0.00,0.00,0.50,35.00,0.00,0.00
115,Hamdi Fathi,31,no,Al Ahly,Africa,187,3,6.74,0,1,...,65.0,56.0,26.95,2.0,0.48,50.00,0.00,43.75,1.93,0.48
193,Mahmoud Trezeguet,30,no,Al Ahly,Africa,185,3,6.72,0,0,...,61.0,53.0,25.78,3.0,1.46,57.14,0.00,42.86,0.49,0.00
206,Marwan Attia,26,no,Al Ahly,Africa,180,2,6.95,0,0,...,118.0,109.0,54.50,0.0,1.00,0.00,0.50,20.00,4.50,1.00
230,Mohamed Ali Ben Romdhane,25,no,Al Ahly,Africa,242,3,7.10,1,0,...,83.0,74.0,27.52,5.0,1.86,100.00,0.00,38.46,1.86,0.00
345,Zizo,29,no,Al Ahly,Africa,245,3,7.22,0,0,...,79.0,71.0,26.08,5.0,0.73,66.67,1.47,45.45,0.00,0.00

### Analyze the performance of Zizo, Ben Romdhane, and Trezeguet

## Calculate the average stats in dataframes

### Average stats for all players of other teams in the league

In [36]:
numeric_columns = league_mid.select_dtypes(include=['number'])
league_mid_stats = numeric_columns.mean().reset_index()
league_mid_stats.columns = ['Stats', 'Value']
league_mid_stats = league_mid_stats.reset_index()
league_mid_stats.drop('index', axis=1, inplace=True)
league_mid_stats

                                 Stats       Value
0                                  age   26.407186
1               minutes_played_overall  254.574850
2                  appearances_overall    3.718563
3               average_rating_overall    6.925808
4                        goals_overall    0.473054
5                      assists_overall    0.371257
6        goals_involved_per_90_overall    0.285868
7               assists_per_90_overall    0.125629
8                passes_per_90_overall   45.902874
9                 passes_total_overall  127.383234
10      passes_completed_total_overall  111.844311
11     passes_completed_per_90_overall   40.052096
12            key_passes_total_overall    3.233533
13  dribbles_successful_per_90_overall    0.792335
14   shot_accuraccy_percentage_overall   33.334192
15     accurate_crosses_per_90_overall    0.465689
16        duels_won_percentage_overall   46.504431
17      fouls_committed_per_90_overall    1.220240
18                cards_per_90_overall    0.208263

### Average stats for players of african teams in the league

In [37]:
numeric_columns = africa_mid.select_dtypes(include=['number'])
africa_mid_stats = numeric_columns.mean().reset_index()
africa_mid_stats.columns = ['Stats', 'Value']
africa_mid_stats = africa_mid_stats.reset_index()
africa_mid_stats.drop('index', axis=1, inplace=True)
africa_mid_stats

                                 Stats       Value
0                                  age   27.000000
1               minutes_played_overall  227.384615
2                  appearances_overall    3.000000
3               average_rating_overall    6.857692
4                        goals_overall    0.153846
5                      assists_overall    0.230769
6        goals_involved_per_90_overall    0.190769
7               assists_per_90_overall    0.103077
8                passes_per_90_overall   41.237692
9                 passes_total_overall  106.692308
10      passes_completed_total_overall   93.538462
11     passes_completed_per_90_overall   36.078462
12            key_passes_total_overall    2.692308
13  dribbles_successful_per_90_overall    0.727692
14   shot_accuraccy_percentage_overall   15.641538
15     accurate_crosses_per_90_overall    0.317692
16        duels_won_percentage_overall   51.585385
17      fouls_committed_per_90_overall    1.233077
18                cards_per_90_overall    0.301538

### Average stats for players of the champion team in the league

In [38]:
numeric_columns = champ_mid.select_dtypes(include=['number'])
champ_mid_stats = numeric_columns.mean().reset_index()
champ_mid_stats.columns = ['Stats', 'Value']
champ_mid_stats = champ_mid_stats.reset_index()
champ_mid_stats.drop('index', axis=1, inplace=True)
champ_mid_stats

                                 Stats       Value
0                                  age   23.571429
1               minutes_played_overall  317.142857
2                  appearances_overall    5.285714
3               average_rating_overall    7.157143
4                        goals_overall    0.857143
5                      assists_overall    1.000000
6        goals_involved_per_90_overall    0.498571
7               assists_per_90_overall    0.241429
8                passes_per_90_overall   54.527143
9                 passes_total_overall  175.142857
10      passes_completed_total_overall  156.714286
11     passes_completed_per_90_overall   48.904286
12            key_passes_total_overall    5.142857
13  dribbles_successful_per_90_overall    0.888571
14   shot_accuraccy_percentage_overall   29.008571
15     accurate_crosses_per_90_overall    0.301429
16        duels_won_percentage_overall   46.410000
17      fouls_committed_per_90_overall    1.304286
18                cards_per_90_overall    0.111429

### Average stats for top rank players in the league

In [39]:
numeric_columns = toprank_mid.select_dtypes(include=['number'])
toprank_mid_stats = numeric_columns.mean().reset_index()
toprank_mid_stats.columns = ['Stats', 'Value']
toprank_mid_stats = toprank_mid_stats.reset_index()
toprank_mid_stats.drop('index', axis=1, inplace=True)
toprank_mid_stats

                                 Stats       Value
0                                  age   28.000000
1               minutes_played_overall  498.666667
2                  appearances_overall    6.333333
3               average_rating_overall    7.756667
4                        goals_overall    1.333333
5                      assists_overall    1.333333
6        goals_involved_per_90_overall    0.476667
7               assists_per_90_overall    0.233333
8                passes_per_90_overall   90.076667
9                 passes_total_overall  454.666667
10      passes_completed_total_overall  418.000000
11     passes_completed_per_90_overall   82.476667
12            key_passes_total_overall    8.000000
13  dribbles_successful_per_90_overall    0.576667
14   shot_accuraccy_percentage_overall   28.890000
15     accurate_crosses_per_90_overall    0.816667
16        duels_won_percentage_overall   53.860000
17      fouls_committed_per_90_overall    0.336667
18                cards_per_90_overall    0.136667

### Combine in a single dataframe

In [40]:
comp_mid = pd.DataFrame(mid[mid['full_name'] == 'Zizo'].drop(['current_club','continent', 'full_name', 'top_rank'], axis=1).T).reset_index()
comp_mid.columns = ['Stats', 'Zizo']
comp_mid

                                 Stats    Zizo
0                                  age   29.00
1               minutes_played_overall  245.00
2                  appearances_overall    3.00
3               average_rating_overall    7.22
4                        goals_overall    0.00
5                      assists_overall    0.00
6        goals_involved_per_90_overall    0.00
7               assists_per_90_overall    0.00
8                passes_per_90_overall   29.02
9                 passes_total_overall   79.00
10      passes_completed_total_overall   71.00
11     passes_completed_per_90_overall   26.08
12            key_passes_total_overall    5.00
13  dribbles_successful_per_90_overall    0.73
14   shot_accuraccy_percentage_overall   66.67
15     accurate_crosses_per_90_overall    1.47
16        duels_won_percentage_overall   45.45
17      fouls_committed_per_90_overall    0.00
18                cards_per_90_overall    0.00

### Create temporary dataframe to hold the ahly players rows then combine

In [41]:
df = pd.DataFrame(mid[mid['full_name'] == 'Mohamed Ali Ben Romdhane'].drop(['current_club','continent', 'full_name', 'top_rank'], axis=1).T).reset_index()
df = df.set_axis(['Stats', 'Value'], axis=1)
comp_mid['Ben Romdhane'] = df['Value']
df = pd.DataFrame(mid[mid['full_name'] == 'Mahmoud Trezeguet'].drop(['current_club','continent', 'full_name', 'top_rank'], axis=1).T).reset_index()
df = df.set_axis(['Stats', 'Value'], axis=1)
comp_mid['Trezeguet'] = df['Value']

In [42]:
comp_mid['league_avg'] = league_mid_stats['Value']
comp_mid['africa_avg'] = africa_mid_stats['Value']
comp_mid['champ_avg'] = champ_mid_stats['Value']
comp_mid['toprank_avg'] = toprank_mid_stats['Value']
comp_mid

,Stats,Zizo,Ben Romdhane,Trezeguet,league_avg,africa_avg,champ_avg,toprank_avg
0,age,29.00,25.00,30.00,26.407186,27.000000,23.571429,28.000000
1,minutes_played_overall,245.00,242.00,185.00,254.574850,227.384615,317.142857,498.666667
2,appearances_overall,3.00,3.00,3.00,3.718563,3.000000,5.285714,6.333333
3,average_rating_overall,7.22,7.10,6.72,6.925808,6.857692,7.157143,7.756667
4,goals_overall,0.00,1.00,0.00,0.473054,0.153846,0.857143,1.333333
5,assists_overall,0.00,0.00,0.00,0.371257,0.230769,1.000000,1.333333
6,goals_involved_per_90_overall,0.00,0.37,0.00,0.285868,0.190769,0.498571,0.476667
7,assists_per_90_overall,0.00,0.00,0.00,0.125629,0.103077,0.241429,0.233333
8,passes_per_90_overall,29.02,30.87,29.68,45.902874,41.237692,54.527143,90.076667
9,passes_total_overall,79.00,83.00,61.00,127.383234,106.692308,175.142857,454.666667
10,passes_completed_total_overall,71.00,74.00,53.00,111.844311,93.538462,156.714286,418.000000
11,passes_completed_per_90_overall,26.08,27.52,25.78,40.052096,36.078462,48.904286,82.476667
12,key_passes_total_overall,5.00,5.00,3.00,3.233533,2.692308,5.142857,8.000000
13,dribbles_successful_per_90_overall,0.73,1.86,1.46,0.792335,0.727692,0.888571,0.576667
14,shot_accuraccy_percentage_overall,66.67,100.00,57.14,33.334192,15.641538,29.008571,28.890000
15,accurate_crosses_per_90_overall,1.47,0.00,0.00,0.465689,0.317692,0.301429,0.816667
16,duels_won_percentage_overall,45.45,38.46,42.86,46.504431,51.585385,46.410000,53.860000
17,fouls_committed_per_90_overall,0.00,1.86,0.49,1.220240,1.233077,1.304286,0.336667
18,cards_per_90_overall,0.00,0.00,0.00,0.208263,0.301538,0.111429,0.136667

## Export for BI Analysis

In [43]:
comp_mid.set_index('Stats').transpose().to_csv('Ahly_mid_Stats_T.csv')

## Fourth : Defence Players Statistics

## Create dataframes for the compared data

### All other teams in the league

In [44]:
league_def = defence.drop(defence[defence['current_club'] == 'Al Ahly'].index)
print([defence.shape, league_def.shape])

[(134, 20), (130, 20)]

### Players from Africa

In [45]:
africa_def = league_def[league_def['continent'] == 'Africa']
africa_def

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,goals_involved_per_90_overall,conceded_overall,tackles_per_90_overall,blocks_per_90_overall,clearances_per_90_overall,pen_committed_total_overall,fouls_committed_per_90_overall,duels_won_percentage_overall,passes_per_90_overall,passes_completed_per_90_overall,cards_per_90_overall
1,Abdelmounaim Boutouil,26,no,Wydad Casablanca,Africa,168,2,6.57,1,0.54,5,1.07,0.54,4.82,0.0,1.61,25.00,32.68,28.39,0.00
25,Bart Meijers,28,no,Wydad Casablanca,Africa,156,3,6.38,0,0.00,4,0.58,0.00,2.31,0.0,4.04,40.00,23.08,20.19,0.58
47,Divine Lunga,30,no,Mamelodi Sundowns,Africa,270,3,7.41,0,0.00,4,3.33,0.33,1.33,0.0,0.67,59.38,49.00,41.33,0.00
55,Fahd Moufi,29,no,Wydad Casablanca,Africa,177,2,6.49,0,0.00,5,2.54,0.00,3.05,0.0,2.54,56.25,18.31,11.69,0.00
71,Gomolemo Grant Kekana,32,no,Mamelodi Sundowns,Africa,270,3,6.60,0,0.00,4,0.00,0.00,1.67,0.0,0.00,33.33,67.00,63.33,0.00
74,Guilherme Ferreira de Oliveira,25,no,Wydad Casablanca,Africa,270,3,6.56,0,0.00,7,2.33,1.00,6.33,1.0,0.67,58.33,27.00,22.33,0.33
112,Keanu Gr√©gory Cupido,27,no,Mamelodi Sundowns,Africa,235,3,6.64,0,0.00,4,0.77,0.77,1.53,0.0,0.00,42.86,82.72,76.60,0.00
155,Mohamed Amine Tougai,25,no,ES Tunis,Africa,270,3,6.49,0,0.00,4,0.33,1.00,2.00,0.0,0.67,33.33,32.00,28.67,0.33

### Champion Players (Chelsea)

In [46]:
champ_def = league_def[league_def['current_club'] == 'Chelsea']
champ_def

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,goals_involved_per_90_overall,conceded_overall,tackles_per_90_overall,blocks_per_90_overall,clearances_per_90_overall,pen_committed_total_overall,fouls_committed_per_90_overall,duels_won_percentage_overall,passes_per_90_overall,passes_completed_per_90_overall,cards_per_90_overall
28,Beno√Æt Badiashile,24,no,Chelsea,Europe,160,2,7.07,0,0.00,0,1.69,0.00,2.25,0.0,1.12,55.56,84.38,79.88,0.00
123,Levi Colwill,22,no,Chelsea,Europe,478,5,7.05,0,0.19,5,1.16,0.23,1.62,0.0,1.62,68.00,79.56,74.23,0.56
133,Malo Gusto,22,no,Chelsea,Europe,474,7,6.95,0,0.19,4,2.39,0.00,0.65,1.0,1.30,61.11,58.91,53.91,0.38
138,Marc Cucurella,26,no,Chelsea,Europe,540,6,7.48,0,0.00,4,2.06,0.75,1.12,0.0,1.88,48.84,52.88,48.00,0.17
183,Reece James,25,no,Chelsea,Europe,289,5,7.08,1,0.31,1,1.70,0.85,0.85,0.0,1.70,44.44,60.28,54.34,0.31
204,Tosin Adarabioyo,27,no,Chelsea,Europe,290,4,7.32,1,0.31,0,1.12,0.28,4.22,0.0,1.69,53.33,97.03,93.09,0.31
207,Trevoh Chalobah,26,no,Chelsea,Europe,364,5,6.84,0,0.25,4,0.59,0.30,4.14,0.0,0.30,66.67,55.66,54.47,0.00

### Create a DataFrame for the Top Ranking Defence Players according to [FIFA](https://www.fifa.com/en/tournaments/mens/club-world-cup/usa-2025/statistics/player-statistics?group=gcp_goalkeeping&stat=clean_sheets)

In [47]:
toprank_def = league_def[league_def['top_rank'] == 'yes']
toprank_def

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,goals_involved_per_90_overall,conceded_overall,tackles_per_90_overall,blocks_per_90_overall,clearances_per_90_overall,pen_committed_total_overall,fouls_committed_per_90_overall,duels_won_percentage_overall,passes_per_90_overall,passes_completed_per_90_overall,cards_per_90_overall
3,Achraf Hakimi,26,yes,PSG,Europe,593,7,7.81,2,0.61,4,1.04,0.17,1.38,0.0,0.87,47.62,77.54,68.88,0.0
11,Alexander Barboza,30,yes,Botafogo,America,360,4,7.54,0,0.00,2,4.85,1.38,9.92,0.0,1.15,81.63,43.38,33.23,0.5
63,Fran Garcia,25,yes,Real Madrid,Europe,540,6,7.32,1,0.33,6,3.00,0.50,1.83,0.0,1.17,66.04,45.83,41.50,0.0

In [48]:
#Print Ahly Players to see which to analyze his performance
defence[defence['current_club'] == 'Al Ahly']

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,goals_involved_per_90_overall,conceded_overall,tackles_per_90_overall,blocks_per_90_overall,clearances_per_90_overall,pen_committed_total_overall,fouls_committed_per_90_overall,duels_won_percentage_overall,passes_per_90_overall,passes_completed_per_90_overall,cards_per_90_overall
2,Achraf Dari,26,no,Al Ahly,Africa,242,3,6.67,0,0.00,6,0.37,1.12,5.95,0.0,0.74,61.54,37.19,33.10,0.37
146,Marwan Attia,26,no,Al Ahly,Africa,180,2,6.95,0,0.00,2,5.00,0.00,1.50,0.0,4.50,20.00,59.00,54.50,1.00
156,Mohamed Hany Eldemerdash,29,no,Al Ahly,Africa,270,3,6.57,0,0.33,6,2.00,0.00,3.00,0.0,1.00,42.11,32.33,24.67,0.33
216,Yasser Ahmed Ibrahim El Hanafi,32,no,Al Ahly,Africa,180,2,6.77,0,0.00,2,1.50,0.50,5.50,0.0,0.00,45.45,62.00,59.00,0.00

### Analyze Mohamed Hany and Marwan Attia's performance

## Calculate the average stats in dataframes

### Average stats for all players of other teams in the league

In [49]:
numeric_columns = league_def.select_dtypes(include=['number'])
league_def_stats = numeric_columns.mean().reset_index()
league_def_stats.columns = ['Stats', 'Value']
league_def_stats = league_def_stats.reset_index()
league_def_stats.drop('index', axis=1, inplace=True)
league_def_stats

                              Stats       Value
0                               age   28.007692
1            minutes_played_overall  279.384615
2               appearances_overall    3.530769
3            average_rating_overall    6.909923
4                     goals_overall    0.123077
5     goals_involved_per_90_overall    0.107846
6                  conceded_overall    3.746154
7            tackles_per_90_overall    1.714231
8             blocks_per_90_overall    0.500154
9         clearances_per_90_overall    3.366692
10      pen_committed_total_overall    0.053846
11   fouls_committed_per_90_overall    1.142077
12     duels_won_percentage_overall   53.125538
13            passes_per_90_overall   51.300154
14  passes_completed_per_90_overall   45.777846
15             cards_per_90_overall    0.192000

### Average stats for players of african teams in the league

In [50]:
numeric_columns = africa_def.select_dtypes(include=['number'])
africa_def_stats = numeric_columns.mean().reset_index()
africa_def_stats.columns = ['Stats', 'Value']
africa_def_stats = africa_def_stats.reset_index()
africa_def_stats.drop('index', axis=1, inplace=True)
africa_def_stats

                              Stats      Value
0                               age   27.75000
1            minutes_played_overall  227.00000
2               appearances_overall    2.75000
3            average_rating_overall    6.64250
4                     goals_overall    0.12500
5     goals_involved_per_90_overall    0.06750
6                  conceded_overall    4.62500
7            tackles_per_90_overall    1.36875
8             blocks_per_90_overall    0.45500
9         clearances_per_90_overall    2.88000
10      pen_committed_total_overall    0.12500
11   fouls_committed_per_90_overall    1.27500
12     duels_won_percentage_overall   43.56000
13            passes_per_90_overall   41.47375
14  passes_completed_per_90_overall   36.56625
15             cards_per_90_overall    0.15500

### Average stats for players of the champion team in the league

In [51]:
numeric_columns = champ_def.select_dtypes(include=['number'])
champ_def_stats = numeric_columns.mean().reset_index()
champ_def_stats.columns = ['Stats', 'Value']
champ_def_stats = champ_def_stats.reset_index()
champ_def_stats.drop('index', axis=1, inplace=True)
champ_def_stats

                              Stats       Value
0                               age   24.571429
1            minutes_played_overall  370.714286
2               appearances_overall    4.857143
3            average_rating_overall    7.112857
4                     goals_overall    0.285714
5     goals_involved_per_90_overall    0.178571
6                  conceded_overall    2.571429
7            tackles_per_90_overall    1.530000
8             blocks_per_90_overall    0.344286
9         clearances_per_90_overall    2.121429
10      pen_committed_total_overall    0.142857
11   fouls_committed_per_90_overall    1.372857
12     duels_won_percentage_overall   56.850000
13            passes_per_90_overall   69.814286
14  passes_completed_per_90_overall   65.417143
15             cards_per_90_overall    0.247143

### Average stats for top rank players in the league

In [52]:
numeric_columns = toprank_def.select_dtypes(include=['number'])
toprank_def_stats = numeric_columns.mean().reset_index()
toprank_def_stats.columns = ['Stats', 'Value']
toprank_def_stats = toprank_def_stats.reset_index()
toprank_def_stats.drop('index', axis=1, inplace=True)
toprank_def_stats

                              Stats       Value
0                               age   27.000000
1            minutes_played_overall  497.666667
2               appearances_overall    5.666667
3            average_rating_overall    7.556667
4                     goals_overall    1.000000
5     goals_involved_per_90_overall    0.313333
6                  conceded_overall    4.000000
7            tackles_per_90_overall    2.963333
8             blocks_per_90_overall    0.683333
9         clearances_per_90_overall    4.376667
10      pen_committed_total_overall    0.000000
11   fouls_committed_per_90_overall    1.063333
12     duels_won_percentage_overall   65.096667
13            passes_per_90_overall   55.583333
14  passes_completed_per_90_overall   47.870000
15             cards_per_90_overall    0.166667

### Combine in a single dataframe

In [53]:
comp_def = pd.DataFrame(defence[defence['full_name'] == 'Mohamed Hany Eldemerdash'].drop(['current_club','continent', 'full_name', 'top_rank'], axis=1).T).reset_index()
comp_def.columns = ['Stats', 'Mohamed Hany']
df = pd.DataFrame(defence[defence['full_name'] == 'Marwan Attia'].drop(['current_club','continent', 'full_name', 'top_rank'], axis=1).T).reset_index()
df = df.set_axis(['Stats', 'Value'], axis=1)
comp_mid['Marwan Attia'] = df['Value']
comp_def['league_avg'] = league_def_stats['Value']
comp_def['africa_avg'] = africa_def_stats['Value']
comp_def['champ_avg'] = champ_def_stats['Value']
comp_def['toprank_avg'] = toprank_def_stats['Value']
comp_def
#comp_def.set_index('Stats').transpose().to_csv('Ahly_def_Stats_T.csv')

,Stats,Mohamed Hany,league_avg,africa_avg,champ_avg,toprank_avg
0,age,29.00,28.007692,27.75000,24.571429,27.000000
1,minutes_played_overall,270.00,279.384615,227.00000,370.714286,497.666667
2,appearances_overall,3.00,3.530769,2.75000,4.857143,5.666667
3,average_rating_overall,6.57,6.909923,6.64250,7.112857,7.556667
4,goals_overall,0.00,0.123077,0.12500,0.285714,1.000000
5,goals_involved_per_90_overall,0.33,0.107846,0.06750,0.178571,0.313333
6,conceded_overall,6.00,3.746154,4.62500,2.571429,4.000000
7,tackles_per_90_overall,2.00,1.714231,1.36875,1.530000,2.963333
8,blocks_per_90_overall,0.00,0.500154,0.45500,0.344286,0.683333
9,clearances_per_90_overall,3.00,3.366692,2.88000,2.121429,4.376667
10,pen_committed_total_overall,0.00,0.053846,0.12500,0.142857,0.000000
11,fouls_committed_per_90_overall,1.00,1.142077,1.27500,1.372857,1.063333
12,duels_won_percentage_overall,42.11,53.125538,43.56000,56.850000,65.096667
13,passes_per_90_overall,32.33,51.300154,41.47375,69.814286,55.583333
14,passes_completed_per_90_overall,24.67,45.777846,36.56625,65.417143,47.870000
15,cards_per_90_overall,0.33,0.192000,0.15500,0.247143,0.166667

## Export for BI Analysis

In [54]:
defence[defence['full_name'] == 'Marwan Attia'].drop(['current_club','continent', 'full_name', 'top_rank'], axis=1)

,age,minutes_played_overall,appearances_overall,average_rating_overall,goals_overall,goals_involved_per_90_overall,conceded_overall,tackles_per_90_overall,blocks_per_90_overall,clearances_per_90_overall,pen_committed_total_overall,fouls_committed_per_90_overall,duels_won_percentage_overall,passes_per_90_overall,passes_completed_per_90_overall,cards_per_90_overall
146,26,180,2,6.95,0,0.0,2,5.0,0.0,1.5,0.0,4.5,20.0,59.0,54.5,1.0

## Fifth : GK Players Statistics

## Create dataframes for the compared data

### All other teams in the league

In [55]:
league_gk = gk.drop(gk[gk['current_club'] == 'Al Ahly'].index)
print([gk.shape, league_gk.shape])

[(30, 19), (29, 19)]

### Players from Africa

In [56]:
africa_gk = league_gk[league_gk['continent'] == 'Africa']
africa_gk

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,clean_sheets_overall,conceded_overall,passes_total_overall,passes_completed_total_overall,passes_completed_per_90_overall,saves_total_overall,saves_per_90_overall,shots_faced_per_90_overall,save_percentage_overall,inside_box_saves_total_overall,clearances_total_overall
44,Mahdi Benabid,27,no,Wydad Casablanca,Africa,270,3,6.55,0,7,84.0,64.0,21.33,7.0,2.33,5.0,46.67,5.0,5.0
64,Ronwen Williams,33,no,Mamelodi Sundowns,Africa,270,3,6.73,2,4,143.0,122.0,40.67,5.0,1.67,3.0,55.56,4.0,1.0

### Champion Players (Chelsea)

In [57]:
champ_gk = league_gk[league_gk['current_club'] == 'Chelsea']
champ_gk

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,clean_sheets_overall,conceded_overall,passes_total_overall,passes_completed_total_overall,passes_completed_per_90_overall,saves_total_overall,saves_per_90_overall,shots_faced_per_90_overall,save_percentage_overall,inside_box_saves_total_overall,clearances_total_overall
62,Robert Sanchez,27,yes,Chelsea,Europe,540,6,7.1,3,4,131.0,98.0,18.38,16.0,3.0,3.94,76.19,9.0,1.0

### Create a DataFrame for the Top Ranking GK Players according to [FIFA](https://www.fifa.com/en/tournaments/mens/club-world-cup/usa-2025/statistics/player-statistics?group=gcp_goalkeeping&stat=clean_sheets)

In [58]:
toprank_gk = league_gk[league_gk['top_rank'] == 'yes']
toprank_gk

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,clean_sheets_overall,conceded_overall,passes_total_overall,passes_completed_total_overall,passes_completed_per_90_overall,saves_total_overall,saves_per_90_overall,shots_faced_per_90_overall,save_percentage_overall,inside_box_saves_total_overall,clearances_total_overall
19,Fabio,44,yes,Fluminense,America,540,6,6.92,3,5,111.0,66.0,11.00,16.0,2.67,3.50,76.19,10.0,6.0
24,Gianluigi Donnarumma,26,yes,PSG,Europe,630,7,7.15,5,4,140.0,115.0,19.17,14.0,2.33,2.50,93.33,10.0,3.0
62,Robert Sanchez,27,yes,Chelsea,Europe,540,6,7.10,3,4,131.0,98.0,18.38,16.0,3.00,3.94,76.19,9.0,1.0
78,Weverton Pereira da Silva,37,yes,Palmeiras,America,450,5,7.05,3,4,138.0,85.0,15.94,13.0,2.44,3.19,76.47,7.0,3.0

In [59]:
#Print Ahly Players to see which to analyze his performance
gk[gk['current_club'] == 'Al Ahly']

,full_name,age,top_rank,current_club,continent,minutes_played_overall,appearances_overall,average_rating_overall,clean_sheets_overall,conceded_overall,passes_total_overall,passes_completed_total_overall,passes_completed_per_90_overall,saves_total_overall,saves_per_90_overall,shots_faced_per_90_overall,save_percentage_overall,inside_box_saves_total_overall,clearances_total_overall
53,Mohamed El Shenawy,36,no,Al Ahly,Africa,270,3,6.63,1,6,76.0,60.0,20.0,8.0,2.67,4.67,57.14,4.0,6.0

### Analyze El Shenawy's performance

## Calculate the average stats in dataframes

### Average stats for all players of other teams in the league

In [60]:
numeric_columns = league_gk.select_dtypes(include=['number'])
league_gk_stats = numeric_columns.mean().reset_index()
league_gk_stats.columns = ['Stats', 'Value']
league_gk_stats = league_gk_stats.reset_index()
league_gk_stats.drop('index', axis=1, inplace=True)
league_gk_stats

                              Stats       Value
0                               age   32.689655
1            minutes_played_overall  347.586207
2               appearances_overall    3.862069
3            average_rating_overall    7.061724
4              clean_sheets_overall    1.241379
5                  conceded_overall    4.862069
6              passes_total_overall  103.137931
7    passes_completed_total_overall   75.758621
8   passes_completed_per_90_overall   20.299655
9               saves_total_overall   12.068966
10             saves_per_90_overall    3.237586
11       shots_faced_per_90_overall    4.827586
12          save_percentage_overall   65.561034
13   inside_box_saves_total_overall    7.448276
14         clearances_total_overall    3.586207

### Average stats for players of african teams in the league

In [61]:
numeric_columns = africa_gk.select_dtypes(include=['number'])
africa_gk_stats = numeric_columns.mean().reset_index()
africa_gk_stats.columns = ['Stats', 'Value']
africa_gk_stats = africa_gk_stats.reset_index()
africa_gk_stats.drop('index', axis=1, inplace=True)
africa_gk_stats

                              Stats    Value
0                               age   30.000
1            minutes_played_overall  270.000
2               appearances_overall    3.000
3            average_rating_overall    6.640
4              clean_sheets_overall    1.000
5                  conceded_overall    5.500
6              passes_total_overall  113.500
7    passes_completed_total_overall   93.000
8   passes_completed_per_90_overall   31.000
9               saves_total_overall    6.000
10             saves_per_90_overall    2.000
11       shots_faced_per_90_overall    4.000
12          save_percentage_overall   51.115
13   inside_box_saves_total_overall    4.500
14         clearances_total_overall    3.000

### Average stats for players of the champion team in the league

In [62]:
numeric_columns = champ_gk.select_dtypes(include=['number'])
champ_gk_stats = numeric_columns.mean().reset_index()
champ_gk_stats.columns = ['Stats', 'Value']
champ_gk_stats = champ_gk_stats.reset_index()
champ_gk_stats.drop('index', axis=1, inplace=True)
champ_gk_stats

                              Stats   Value
0                               age   27.00
1            minutes_played_overall  540.00
2               appearances_overall    6.00
3            average_rating_overall    7.10
4              clean_sheets_overall    3.00
5                  conceded_overall    4.00
6              passes_total_overall  131.00
7    passes_completed_total_overall   98.00
8   passes_completed_per_90_overall   18.38
9               saves_total_overall   16.00
10             saves_per_90_overall    3.00
11       shots_faced_per_90_overall    3.94
12          save_percentage_overall   76.19
13   inside_box_saves_total_overall    9.00
14         clearances_total_overall    1.00

### Average stats for top rank players in the league

In [63]:
numeric_columns = toprank_gk.select_dtypes(include=['number'])
toprank_gk_stats = numeric_columns.mean().reset_index()
toprank_gk_stats.columns = ['Stats', 'Value']
toprank_gk_stats = toprank_gk_stats.reset_index()
toprank_gk_stats.drop('index', axis=1, inplace=True)
toprank_gk_stats

                              Stats     Value
0                               age   33.5000
1            minutes_played_overall  540.0000
2               appearances_overall    6.0000
3            average_rating_overall    7.0550
4              clean_sheets_overall    3.5000
5                  conceded_overall    4.2500
6              passes_total_overall  130.0000
7    passes_completed_total_overall   91.0000
8   passes_completed_per_90_overall   16.1225
9               saves_total_overall   14.7500
10             saves_per_90_overall    2.6100
11       shots_faced_per_90_overall    3.2825
12          save_percentage_overall   80.5450
13   inside_box_saves_total_overall    9.0000
14         clearances_total_overall    3.2500

### Combine in a single dataframe

In [64]:
comp_gk = pd.DataFrame(gk[gk['full_name'] == 'Mohamed El Shenawy'].drop(['current_club','continent', 'full_name', 'top_rank'], axis=1).T).reset_index()
comp_gk.columns = ['Stats', 'Mohamed El Shenawy']
comp_gk['league_avg'] = league_gk_stats['Value']
comp_gk['africa_avg'] = africa_gk_stats['Value']
comp_gk['champ_avg'] = champ_gk_stats['Value']
comp_gk['toprank_avg'] = toprank_gk_stats['Value']
comp_gk

,Stats,Mohamed El Shenawy,league_avg,africa_avg,champ_avg,toprank_avg
0,age,36.00,32.689655,30.000,27.00,33.5000
1,minutes_played_overall,270.00,347.586207,270.000,540.00,540.0000
2,appearances_overall,3.00,3.862069,3.000,6.00,6.0000
3,average_rating_overall,6.63,7.061724,6.640,7.10,7.0550
4,clean_sheets_overall,1.00,1.241379,1.000,3.00,3.5000
5,conceded_overall,6.00,4.862069,5.500,4.00,4.2500
6,passes_total_overall,76.00,103.137931,113.500,131.00,130.0000
7,passes_completed_total_overall,60.00,75.758621,93.000,98.00,91.0000
8,passes_completed_per_90_overall,20.00,20.299655,31.000,18.38,16.1225
9,saves_total_overall,8.00,12.068966,6.000,16.00,14.7500
10,saves_per_90_overall,2.67,3.237586,2.000,3.00,2.6100
11,shots_faced_per_90_overall,4.67,4.827586,4.000,3.94,3.2825
12,save_percentage_overall,57.14,65.561034,51.115,76.19,80.5450
13,inside_box_saves_total_overall,4.00,7.448276,4.500,9.00,9.0000
14,clearances_total_overall,6.00,3.586207,3.000,1.00,3.2500

## Export for BI Analysis

In [65]:
comp_gk.set_index('Stats').transpose().to_csv('Ahly_gk_Stats_T.csv')